// _fonts.scss

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaStdExtraBold.otf') format('truetype'); /* Safari, Android, iOS */
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura45Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura46LightItalic.ttf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura55Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura56Italic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura65Medium.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura66MediumItalic.ttf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura75Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura76BoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
