@mixin custom-btn-primary {
    background-color: $theme-primary-color;
    color: $theme-color-white;
    min-width: 140px;
    min-height: 50px;
    border: 0;
    @include theme-border-radius
}

@mixin custom-btn-secondary {
  min-width: 100px;
  min-height: 50px;
  border: 0;
  @include theme-border-radius
}

@mixin theme-shadow {
  box-shadow: $theme-box-shadow;
}

@mixin theme-border-radius {
  border-radius: $theme-border-radius;
}

@mixin custom-link {
  background-color: $theme-accent-two;
  color: $theme-primary-color;
  min-width: 120px;
  min-height: 40px;
  &:hover {
    background-color: transparent;
    color: $theme-secondary-color;
    border:2px solid $theme-primary-color;
  }
}
