$theme-primary-color: #C63527;         // #f23e00;
$theme-secondary-color: #232323;
$theme-accent-one: #707070;
$theme-accent-two: #eaeaea;
$theme-link-color: #008CFF;
$theme-color-white: #ffffff;
$body-color: #fafafa;
$theme-accent-three: #FFCD00;         // #ffea00;
$theme-accent-four: rgb(0, 165, 0);
$theme-accent-five: #ebebeb6b;

/*-- font style --*/
$font-extra-small: 0.75rem;
$font-small: 0.875rem;
$font-black: 900;

$theme-box-shadow: 0px 1px 6px 3px rgba($theme-secondary-color, .08);

$theme-text-shadow: 0 0 1.375rem rgba($theme-secondary-color, .10);

$theme-border-radius: 0.625rem;

/*-- media query --*/
$break-small: 575px;
$break-medium: 767px;
$break-large: 992px;
$break-x-large: 1200px;